<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Reset Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Verify Reset Password</h1>
        <form method="post" class="mt-4">
            <div class="form-group">
                <label for="secret_key">Verification Code:</label>
                <input type="text" class="form-control" name="secret_key" required>
            </div>
            <button type="submit" class="btn btn-primary">Verify</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-danger mt-2">
              {% for message in messages %}
                <div>{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
